#table-search {
  background:$white;
  height:83vh;
  overflow:hidden;
  width:100%;
  float:left;
  box-shadow: 0 0 0 1px rgba(4, 4, 4, 0.05);
  hr {
    margin:0 20px 12px 20px;
  }
}
.dif-col-8 {
  max-width:70.80%;
  flex: 0 0 70.80%;
}
.dif-col-4 {
  max-width:29.20%;
  flex: 0 0 29.20%;
}
#input-section {
  padding:20px 20px 0 20px;
  .col-md-2, .col-md-1 {
    padding:0;
  }
  .col-md-6 {
    padding-right:0;
  }
  #search-box {
    display:flex;
    height:46px;
    width:99%;
    input {
      font-size:16px;
      flex-grow:1;
      padding-left:15px;
      border:2px solid $btn-selected;
      box-shadow: $inset-green;
      border-radius:2px 0 0 2px;
      background-color:rgba(255, 255, 255, 0);
      box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
    }
    input::placeholder {
      font-style:italic;
      font-size:16px;
      color: rgb(115, 115, 115);
    }
    button {
      background: $green-gradient;
      border:none;
      border-radius:0 2px 2px 0;
      padding:0px 11.5px;
      text-decoration:none;
      display:block;
      cursor: pointer;
      box-shadow: 0px 1px 0px 0px rgba(6, 6, 6, 0.15),inset 0px -1px 0px 0px rgba(34, 102, 0, 0.45);
    }
  }
  .col-md-auto {
    padding-left:0;
    padding-right:25px;
  }
  .avancerat {
    @extend %flex;
    a {
      text-decoration:underline;
      font-size:14px;
    }
  }
  .flag-less-pad {
    padding-right:20px;
  }
  .check-flag {
    padding-left:24px;
    @extend %flex;
    img {
      margin-left:9px;
    }
    input {
      cursor: pointer;
    }
  }
  .x-more-pad{
    padding-left:16px;
  }
  .pdf {
    @extend %flex;
  }
}
#all-invoices {
  padding: 14px 20px 6px;
  position:relative;
  button {
    @extend %button-inv;
    &:last-of-type {
      padding:4px 33px;
    }
  }
  .inv-selected {
    @extend %green-inv;
  }
  .filter-div {
    float:right;
    margin-top:9px;
    margin-right:8px;
    cursor:pointer;
  }
}
#main-table {
  padding:0 20px;
  overflow-y:auto;
  height:83%;
  #demo {
    height:100%;
    width:100%;
    th {
      color:$blue-text;
      font-size:16px;
      padding:0;
      font-weight:normal;
      line-height:1.5;
      &:first-of-type {
        padding-left:0;
      }
      img {
        padding-left:7px;
      }
    }
    th:nth-child(1) {
      width:14%;
    }
    th:nth-child(2) {
      width:16.2%;
    }
    th:nth-child(3) {
      width:16.1%;
    }
    th:nth-child(4) {
      width:9.9%;
    }
    th:nth-child(5) {
      width:13%;
    }
    th:nth-child(6) {
      width:9.7%;
    }
    th:nth-child(8) {
      text-align:right;
    }
    /* td text align */
    td:nth-child(6) {
      text-align:right;
    }
    td:nth-child(8) {
      text-align:right;
    }
    .amounts {
      font-weight:bold;
      padding-right:19px;
      color:$blue-text;
      white-space:pre;
      .sek {
        color:#737373;
        font-size:14px;
        font-weight:normal;
      }
    }
    .tiron td {
      font-size:14px;
      color:rgb(40, 40, 40);
      line-height: 2.581;
      font-weight:600;
      &:nth-child(8) {
        padding-right:1px;
      }
    }
    .append-tr {
      margin-right:10px;
      position:relative;
    }
    .note-cloud {
      margin-right:10px;
      img {
        margin-top:2px;
      }
    }
  }
}
.tiron ~ .newtr, .tiron ~ .newtr1 {
  display:none;
  background: $table-expand;
}
.open .tiron ~ .newtr, .open .tiron ~ .newtr1 {
  display: table-row;
}
.newtr, .newtr1 {
  td {
    position:relative;
    padding-top:17px;
    .expand-input {
    width:9%;
    padding:0;
    margin:0 5px;
    height:30px;
    border:1px solid rgb(200, 200, 200);
    padding-left:10px;
    }
  }
  input:nth-child(1) {
    margin-left:0;
    width:10.3%;
  }
  input:nth-child(2) {
    width:10.5%;
  }
  input::placeholder {
    font-size:14px;
    color: #969696;
    font-style: italic;
  }
  input::-ms-input-placeholder {
    font-size:14px;
    color: #969696;
    font-style: italic;
  }
  .clip-sek {
    display:inline;
    padding-left:5px;
    img {
      margin-bottom:3px;
    }
    .expand-sek {
      font-size: 14px;
      color: rgb(40, 40, 40);
      display:inline;
      padding-left:9px;
    }
  }
  .visalogg {
    color: rgb(9, 116, 179);
    font-size:14px;
    text-decoration:underline;
    float:right;
    margin-top:6px;
  }
}
.newtr1 {
  td {
    padding-top:6px;
  }
  .space-to-bottom {
    height:19px;
    background:$white;
    width:103.6%;
    z-index:1;
    margin-top:13px;
    margin-left:-2%;
    border-top:2px solid rgba(0, 0, 0, 0.15);
  }
}
.newtr td:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right:0;
    left:0;
    margin:auto;
    width: 10px;
    height: 10px;
    background: $table-expand;
    border-left:1px solid rgba(0, 0, 0, 0.15);
    border-bottom:1px solid rgba(0, 0, 0, 0.15);
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
}
#slideimg {
  width:100%;
  background:white;
  height:600px;
  float:left;
  margin-left:5px;
}
.tablepvz {
  display:none;
  opacity:1;
  position:absolute;
  width:100%;
  img {

  }
}
.active-tr {
  background: $table-expand;
  border-bottom:1px solid #d3d3d3;
  .dfspace {
    height:17px;
    background:$white;
    width:101.1%;
    z-index:1;
    box-shadow:2px 0px 0px 0px rgb(255, 255, 255);
    border-bottom:2px solid rgba(0, 0, 0, 0.15)
  }
  .expand-col {
    width:21px;
    min-height:137px;
    position:absolute;
    left:-5px;
    background: $table-expand;
    z-index:0;
    margin-top:15px;
    border-left:6px solid #4d8400;
    border-top:2px solid rgba(0, 0, 0, 0.15);
  }
  .expand-col-right {
    width:21px;
    min-height:137px;
    position:absolute;
    right:-5px;
    background: $table-expand;
    z-index:0;
    margin-top:15px;
    border-top:2px solid rgba(0, 0, 0, 0.15);
  }
}
.arrow-select1 {
  display:none;
}

/* media querys */
@media screen and (max-width: 1710px) {
  .tiron td {
    font-size:13px !important;
    line-height: 2 !important;
    white-space:pre;
    a {
      margin-right:4px !important;
      img {
        width:16px;
        height:16px;
      }
      &:last-of-type {
        margin-right:0 !important;
      }
    }
    .sek {
      font-size:13px !important;
    }
  }
}
