@mixin links ($link, $visited, $hover, $active) {
    & {
        color: $link;
        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active, &:focus {
            color: $active;
        }
    }
}
@mixin clearfix {
  &:before,
  &:after {
    content:'';
    display:table;
  }
  &:after {
    clear:both;
  }
}
@mixin imagegrid($qty, $margin) {
  width: ((100% - (($qty - 1) * $margin))/$qty);
  &:nth-child(n) {
    margin-right: $margin;
    margin-bottom: $margin;
  }
  &:nth-child(#{$qty}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
